**/*.aux
**/*.fdb_latexmk
**/*.log
**/*.out
**/*.synctex.gz
**/*.fls
**/*blx.bib
**/*.bcf
**/*.blg
**/*.run.xml
**/*.bbl
**/*_temp.tex
**/*.toc
**/*.xmpdata
**/*.xmpi

/*.pdf
/plan/*.pdf
/papers/*.pdf
/thesis/*.pdf
/thesis template
